{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Hello World
            </h1>
            <p class="subtitle">
                My first website with <i class="fa fa-music"></i> <strong class="framework">Bootstrap</strong>!
            </p>
        </div>
    </section>
{% endblock %}