{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Hello World
            </h1>
            <p class="subtitle">
                My first website made with <i class="fa fa-music"></i> <strong id="framework">Bootstrap</strong>!
            </p>
            <p></p>
        </div>
    </section>

    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Your Fortune is:
                </h1>
                <h2 class="subtitle" id="fortune">

                </h2>
            </div>
        </div>
    </section>

{% endblock %}