<aside class="menu" id="department-chooser">
    <p class="menu-label">
        Departments
    </p>
    <ul class="menu-list">
        <li ><a href="#all" id="dpt-all" class="is-active">All</a></li>
        {% for d in departments %}
        <li ><a href="#{{ d }}" id="dpt-{{ d }}">{{ d }}</a></li>
        {% endfor %}
    </ul>

</aside>