{% extends 'base.html.twig' %}

{% block body %}
<div class="columns" id="product-list">
    <div class="column is-one-quarter">
        {% include "default/departments.twig" %}
    </div>
    <div class="column is-three-quarters">
        <div class="columns is-multiline">
        {% for p in products %}
            <div class="column is-half">
            {% include "default/product.twig" with {product: p} %}
            </div>
        {% endfor %}
        </div>
    </div>

</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('products.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('products.js') }}"></script>
{% endblock %}